<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONKAR GROUP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-3 text-center bg-light p-5 rounded shadow  link-dark">
        <h1>ONKAR GROUP</h1>
    </div>
    <div class="container mt-2 mr-10 bg-light text-dark p-4 rounded shadow">
        <p>We are a group of companies that provide a wide range of services to our clients. We are committed to providing the best possible service to our clients and we are always looking for ways to improve our services.</p>
        <p>Our services include:</p>
    </div>
    <div class="container mt-3 mr-10 bg-light text-dark p-5 rounded shadow">

        <ul>
            <li>Construction</li>
            <li>Real Estate</li>
            <li>Manufacturing</li>
            <li>Trading</li>
            <li>Consulting</li>
        </ul>
    </div>
    <div class="container mt-5 mr-10 bg-light text-center p-5 rounded shadow">
        <option>Contact Us</option>
        <p>Email: info@onkargroup.com</p>
    </div>
    <div class="container">
        <div class="row align-items-end">
            <div class="col text-center">
                <div class="col">
                    <p>&copy; 2024 ONKAR GROUP. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="container position-absolute" style="top:150px; left:10px; width:400px;">
                <!-- Left Side Red Area Container -->
                <div class="col-md-10 mt-5 ">
                    <div class="bg-light p-5 rounded shadow h-100">
                        <h2>Our Mission</h2>
                        <p>To deliver quality services and trusted solutions.</p>

                        <h2>Our Values</h2>
                        <p>Integrity, Innovation, Commitment, Growth.</p>

                        <h2>Our Vision</h2>
                        <p>To become a leading global business group.</p>
                    </div>
                </div>
            </div>
            <!-- Right Side Existing Last Div -->
            <!-- Right Side Existing Last Div -->
            <div class="col-md-10 position-absolute" style="top:150px; right:10px; width:350px;">

                <!-- Move Container Right + Down -->
                <div class="container mt-5 mr-10 bg-light text-dark p-5 rounded shadow position-relative ">

                    <!-- Box Positioned on Right Side -->
                    <div class="bg-light p-5 bg-light rounded shadow position-relative">
                        <div class="col-md-10 mt-5">

                            <h2>Our Mission</h2>
                            <h2>Our Values</h2>
                            <h2>Our Vision</h2>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/main.js" async defer></script>
</body>

</html>